@page "/contribute"

<div class="container-fluid p-5 slide-up-fade-in" style="animation-delay: 1s; background-color: rgb(243, 243, 243); ">
  <div class="p-5 bg-white w-100">
      Submit the link having competitive intelligent information below:
      <br/>
      (You can submit homepage of your website and the tool will consider all the webpages)

      <br/>
      <br/>

      <form class="d-flex justify-content-center bg-secondary slide-up-fade-in" style="animation-delay: 0.2s;">
        <input type="text" class="form-control m-2 ml-5 rounded-0" placeholder="Enter the link of your website">
        <button type="submit" class="btn btn-dark m-2 mr-5 rounded-0">Submit</button>
      </form>
  </div>
</div>