@page "/donate"

<div class="d-flex flex-column slide-up-fade-in" style="animation-delay: 1s;">
  <div class="grid-item"><a href="https://www.paypal.com/paypalme2/pankajk2526"><img src="https://i.imgur.com/WO2Sdic.png" style="height: 100px; width: 225px;"></a></div>
  <div class="grid-item"><a href="https://rzp.io/i/pouZjPZ"><img src="https://i.imgur.com/5zaxByU.png" style="height: 80px; width: 200px;"></a></div>
</div>