<div id="about" class="container-new slide-up-fade-in" style="animation-delay: 1.2s;">
       <div class="tag">
       <p style="font-size: 2vw; padding: 2%">
              About Us
              <br />
              <br />
              Understanding competitive information and technology trends is vital to make our products differentiated and more useful to our customers. The tool is an attempt to improve the existing ad-hoc method of collecting, analyzing and sharing of information manually. This project was a part of green belt certification program within honeywell.
              <br/>
              <br/>
              Honeywell Campus II, RMZ Ecoworld
              <br/>
              Adarsh Palm Retreat, Bellandur
              <br/>
              Bangalore - 560103
              <br/>
              <div class="d-flex flex-inline justify-content-center">
                     <a href="https://aerospace.honeywell.com/en"><img src="https://i.imgur.com/jE4sgGj.png?1" class="icon-1"></a>
                     <a href="https://www.facebook.com/HoneywellAero"><img src="https://i.imgur.com/DqY7nnO.png" class="icon-1"></a>
                     <a href="https://instagram.com/honeywell_aero/"><img src="https://i.imgur.com/TEfZehk.png" class="icon-1"></a>
                     <a href="https://www.linkedin.com/company/honeywell-aerospace"><img src="https://i.imgur.com/cBPstTD.png" class="icon-1"></a>
                     <a href="https://twitter.com/honeywell_aero"><img src="https://i.imgur.com/o825HE6.png" class="icon-1"></a>
              </div>
       </p>
       </div>
       <img src="https://i.imgur.com/nM2U1Dz.jpg" class="w-100">
</div>