<form class="d-flex justify-content-center bg-secondary slide-up-fade-in" style="animation-delay: 0.2s;">
        <input type="text" class="form-control m-2 ml-5 rounded-0" placeholder="Enter Keywords to Search">
        <button type="submit" class="btn btn-dark m-2 mr-5 rounded-0">Search</button>
</form>